<% if @stylists.any?() %>
<h3>Click on a stylist to see their clients or to add new clients:</h3>

<ul>
  <% @stylists.each do |stylist| %>
  <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a></li>
  <% end %>
</ul>
<% else %>
<h3>There are no stylists yet! Add a new stylist below!</h3>
<% end %>

<h4>Add New Stylist</h4>

<form action="/stylists" method="post">
  <label for="stylist_name">Stylist name:</label>
  <input type="text" name="stylist_name" id="stylist_name"></br>
  <button type="submit">Add Stylist</button>
</form>

<h4><a href="/">Home</a></h4>
